<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">E-mail verifiëren</h4>
                    </div>
                    <div class="card-body">
                        <p class="mt-2">Er werd een e-mail gestuurd om je account te activeren.</p>
                        <button mat-raised-button type="button" class="btn btn-danger mt-4" (click)="navigateLogin()">Inloggen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>