<!-- <div *ngIf="gebruikers">
    <ul>
       <li *ngFor="let g of gebruikers">{{g.email}} ({{g.naam}})</li>     
    </ul>
 </div> -->
<div class="main-content">
   <div class="contaier-fluid">
      <div class="row">
         <div class="col-md-8">
            <div class="card">
               <div class="card-header card-header-danger">
                  <h4 class="card-title">{{getBtnText()}}</h4>
                  <p class="card-category">Vul de gegevens in</p>
               </div>
               <div class="card-body">
                  <form>
                     <button mat-raised-button type="button" class="btn fb-button" (click)="fbLogin()">{{getBtnText()}} met Facebook</button>
                     <div class="row">
                        <label class="col-12" *ngIf="isLogin">Inloggen met gebruikersnaam of e-mail</label>
                        <label class="col-12" *ngIf="!isLogin">Registreren met e-mail en wachtwoord</label>
                        <div class="col-12">
                           <mat-form-field *ngIf="isLogin">
                               <input matInput placeholder="Gebruikersnaam of e-mail">
                             </mat-form-field>
                             <mat-form-field *ngIf="!isLogin">
                              <input matInput placeholder="E-mail">
                            </mat-form-field>
                         </div>
                         <div class="col-12">
                           <mat-form-field>
                               <input matInput type="password" placeholder="Wachtwoord">
                             </mat-form-field>
                         </div>
                         <div class="col-12" *ngIf="!isLogin">
                           <mat-form-field>
                               <input matInput type="password" placeholder="Bevestig wachtwoord">
                             </mat-form-field>
                         </div>
                     </div>
                     <button mat-raised-button type="submit" class="btn btn-danger">{{getBtnText()}}</button>
                     <div class="row mt-3 ml-1">
                     <p *ngIf="isLogin">Nog geen profiel? <a [routerLink]="'/register'"> Registreer nu!</a></p>
                     <p *ngIf="!isLogin">Heb je al een profiel? <a [routerLink]="'/login'"> Log dan direct in!</a></p>
                  </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>